.subheader {
    max-width: 1140px;
    width: 100%;
    margin: 50px 60px 199px 60px;
}

.shop-block {
    max-width: 1680px;
    width: 100%;
    display: flex;
    gap: 150px;
}

.shop-group {
    max-width: 850px;
    width: 100%;
    padding: 111px 278px 131px 390px;
}

.shop-name {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
}

.shop-line {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
    display: flex;
    width: 850px;
    margin-left: -390px;
}

.home-and-shop {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.dots {
    position: absolute;
    left: 739px;
    bottom: 353px;
}

.dots1 {
    position: absolute;
    left: 60px;
    top: 153px;
}

.dots2 {
    position: absolute;
    left: 1550px;
    top: 1700px;
}

.dots3 {
    position: absolute;
    left: 30px;
    top: 1690px;
}

.vertical-line {
    width: 1.5px;
    background: rgba(0, 0, 0, 1);
}

.shop-part .active,
.shop-part:hover {
    color: #FF8E8E;

}

.home-part .active,
.home-part:hover {
    color: #FF8E8E;

}

.vertical-line {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.order-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
}

.product-list {
    max-width: 720px;
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}

.product-list .product {
    display: flex;
    position: relative;
    gap: 30px;
    align-items: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
}

.product-list .product .photo {
    max-width: 130px;
    width: 100%;
    height: 140px;
    background: rgba(241, 242, 243, 1);
}

.product-info {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 100%;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border: 1px solid rgba(68, 68, 68, 10%);
    color: rgba(68, 68, 68, 10%);
    cursor: pointer;
}

.title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.price-wrapper {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.price-and-quantity {
    display: flex;
    gap: 48px;
    align-items: center;
}

.price-and-quantity .quantity{
    background: rgba(248, 248, 251, 1);
    display: flex;
    gap: 20px;
    padding: 17px 23px;
}

.count-button{
    cursor: pointer;
    color: rgba(153, 153, 153, 1);
    font-weight: 500;
    font-size: 23px;
    line-height: 16px;
}

.count{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


.total-price {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
}


.order {
    max-width: 360px;
    width: 100%;
    padding: 40px;
    border: 1px solid rgba(68, 68, 68, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: rgba(0, 0, 0, 1);
}

 .button-wrapper {
    max-width: unset;
}

.order-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
}


.name-bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: rgba(68, 68, 68, 1);
}

.price-row .price {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.price-row.delimiter {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.additional {
    font-size: 14px;
    line-height: 24px;
}

.price-row.total {
    border-bottom: none;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
}

.promo-code-wrapper {
    max-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info .title {
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: rgba(0, 0, 0, 1);
}

.promo-code-wrapper .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(68, 68, 68, 1);
}

.promo-code-wrapper .promo-code {
    display: flex;
    align-items: center;
    gap: 30px;
}

.promo-code .button-wrapper {
    max-width: 54px;
}

.promo-code .button-wrapper .button {
    padding: 17px 15px;
}